/* base */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.container {
    max-width: 1730px;
    padding: 0 15px;
    margin: 0 auto;
}

.promo {
    position: relative;
    padding: 70px 0 100px 0;
}

/* Common */
.page-search {
    width: 460px;
    height: 50px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    border-radius: 4px;
    border: 1px solid #7E7E7E;
    outline: none;
    padding: 0 15px;
    /* Текст инпута */
    font-weight: 400;
    font-size: 18px;
    line-height: 21.08px;
    color: rgba(126, 126, 126, 1);
    /* Иконка поиска */
    background-image: url('../img/page-search/search.svg');
    background-repeat: no-repeat;
    background-position: 423px center;
}

.page-wrapper {
    display: flex;
    gap: 160px;
}

.page-text-block {
    max-width: 840px;
}

.page-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46.88px;
    color: rgba(0, 0, 0, 1);
}

.page-descr-block {
    margin-top: 30px;
}

.page-descr:first-child {
    margin-top: 0;
}

.page-descr {
    margin-top: 20px;
    font-weight: 400;
    font-size: 26px;
    line-height: 30.47px;
    color: #000;
}


/* Header */
.header {
    border-bottom: 10px solid rgba(228, 45, 36, 1);
}
.header-title {
    width: 100%;
    height: 80px;
    padding-top: 37px;
    background: #ECECEC;
}

.header-title h4 {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
}

.header-info {
    position: relative;
    height: 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-address {
    margin-top: 20px;
    color: #7E7E7E;
    font-size: 18px;
}

.header-address-title {
    line-height: 21px;
    font-weight: 500;
}

.header-address-info {
    line-height: 21px;
    margin-top: 2px;
    font-weight: 400;
}

.header-schedule, .header-email, .header-phones {
    font-weight: 400;
    font-size: 26px;
    color: #000;
    line-height: 30.47px;
}

.header-schedule-title {
    font-weight: 600;
}

.header-schedule-info, .header-phone-2 {
    margin-top: 5px;
}

.header-social {
    display: flex;
    gap: 30px;
    align-items: end;
}

/* Footer */
.footer {
    height: 880px;
    padding: 100px 0 110px 0;
    background: #E42D24;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

li a {
    text-decoration: none;
    color: inherit;
}

.footer-nav-item {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.13px;
    color: #FFF;
    text-transform: uppercase;
    list-style-type: none;
}

.footer-nav-item:first-child {
    margin-top: 0;
}

.footer-nav-item-mini {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
    color: #FFAEAA;
    text-transform: uppercase;
    list-style-type: none;
}

.footer-nav li {
    transition: 0.3s ease;
}

.footer-nav li:hover {
    color: rgba(0, 0, 0, 1);
}

.footer-button {
    margin-top: 116px;
    width: 339px;
    height: 70px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    outline: none;
    cursor: pointer;
    /* Текст кнопки */
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.footer-right-block {
    width: 1086px;
}

.form-block {
    height: 528px;
    border-radius: 4px;
    border: 6px solid #FFF;
    background: url('../img/footer/back.jpg') center no-repeat;
    padding: 0 74px 0 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-info-title {
    font-weight: 700;
    font-size: 48px;
    max-width: 494px;
    color: #FFF;
}

.form-info-descr {
    margin-top: 30px;
    font-weight: 400;
    font-size: 24px;
    max-width: 435px;
    line-height: 28.13px;
    color: rgba(255, 255, 255, 1);
}

.form-info-descr span {
    color: rgba(228, 45, 36, 1);
}

.feed-form {
    width: 390px;
    height: 372px;
    border-radius: 4px;
    background: #FFF;
    padding: 50px;
}

.feed-form input {
    margin-top: 16px;
    display: block;
    width: 290px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #7E7E7E;
    padding: 0 10px;
    outline: none;
    /* Текст инпута */
    font-weight: 400;
    font-size: 18px;
    line-height: 21.08px;
    color: rgba(126, 126, 126, 1);
}

.feed-form input:first-child {
    margin-top: 0;
}

.feed-form .button-submit {
    margin-top: 40px;
    width: 290px;
    height: 50px;
    border-radius: 4px;
    background: #E42D24;
    border: none;
    outline: none;
    cursor: pointer;
    /* Текст кнопки */
    font-weight: 400;
    font-size: 18px;
    line-height: 21.08px;
    color: rgba(255, 255, 255, 1);
}

.footer-contacts {
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-email, .footer-phones {
    font-weight: 400;
    font-size: 26px;
    color: #ffffff;
    line-height: 30.47px;
}

.footer-social {
    height: 70px;
    display: flex;
    gap: 20px;
}

/* Footer dop */
.footer-dop {
    height: 470px;
    background: #E42D24;
}

.footer-dop-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-dop-button-block {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer-dop-button-block:first-child {
    margin-bottom: 30px;
}

.footer-dop-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 35.16px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.footer-dop-img {
    margin-right: 49px;
}


/* Main */
.main {
    position: relative;
    height: 880px;
    padding-top: 67px;
    border-bottom: 10px solid rgba(255, 255, 255, 1);
    background: url('../img/main/main.jpg') right no-repeat;
}

.main-title {
    font-weight: 900;
    font-size: 56px;
    line-height: 65.63px;
    color: rgba(228, 45, 36, 1);
    max-width: 960px;
}

.main .page-search {
    margin-top: 56px;
}

.main-nav {
    margin-top: 70px;
}

.main-nav-item {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35.16px;
    color: rgba(0, 0, 0, 1);
    list-style-type: none;
    text-transform: uppercase;
    transition: .3s ease;
}

.main-nav-item:hover {
    color: rgba(228, 45, 36, 1);
}

.main-nav-item:first-child {
    margin-top: 0;
}

.button-right {
    position: absolute;
    right: 110px;
}

.button-email {
    top: 110px;
}

.button-phone {
    top: 230px;
}

.main-subtitle {
    position: absolute;
    right: 289px;
    bottom: 60px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.main-subtitle-1 {
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
}

.main-subtitle-2 {
    font-weight: 400;
    font-size: 22.4px;
    line-height: 26.25px;
}

/* About */

/* Cert */
.cert {
    height: 610px;
    background: #F9F9F9;
    padding-top: 90px;
}

.cert-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cert-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 46.88px;
    text-transform: uppercase;
}

.cert-descr {
    margin-top: 20px;
    max-width: 501px;
    font-weight: 400;
    font-size: 26px;
    line-height: 30.47px;
}

.cert-nav {
    margin-top: 50px;
}

.cert-nav-item {
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    text-transform: uppercase;
    margin-top: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: .3s ease;
}

.cert-nav-item:first-child {
    margin-top: 0;
}

.cert-nav-item:hover {
    color: rgba(228, 45, 36, 1);
}

.cert-nav-item svg path {
    transition: .3s ease;
}

.cert-nav-item:hover svg path {
    stroke: rgba(228, 45, 36, 1);
}

.cert-right-block {
    position: relative;
    width: 1110px;
}

.cert-swiper {
    height: 100%;
    width: 900px;
}

.swiper-slide {
    height: 400px;
}

.swiper-pagination {
    margin-top: 33px;
    position: static;
}

.swiper-pagination-bullet-active {
    background: rgba(228, 45, 36, 1);
}

.cert-button-next,
.cert-button-prev {
    position: absolute;
    z-index: 5;
    top: 205px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.cert-button-next {
    right: 0;
}

.cert-button-prev {
    left: 0;
}

.cert-button-next svg path,
.cert-button-prev svg path {
    transition: .3s ease;
}

.cert-button-next:hover svg path,
.cert-button-prev:hover svg path {
    stroke: rgba(228, 45, 36, 1);
}

/* Production */
.production-video {
    background: #F9F9F9;
    height: 897px;
    padding: 100px 0;
}

.production-video img {
    display: block;
    margin: 0 auto;
}

/* delivery */
.delivery-table {
    margin-top: 40px;
    width: 898px;
    border-spacing: 0;
}

th, td {
    height: 60px;
    padding-left: 20px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
}

th {
    color: #ffffff;
    background: #E3000F;
    border-right: 1px solid #fff;
}


th:last-child {
    border-right: none;
}

td {
    background: #F4F4F4;
    border-right: 1px solid #D9D9D9;
    color: #000;
    position: relative;
}

td:last-child {
    border-right: none;
}

.td-border {
    border-right: 1px solid #D9D9D9 !important;
}

.price {
    width: 351px;
    border-radius: 4px 0px 0px 0px;
}
.weight {
    width: 390px;
}
.car {
    border-radius: 0px 4px 0px 0px;
}

.td-rowspan {
    height: 120px;
}

.price-item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 280px;

}

.tr-darkgray td {
    background: #E6E6E6;
}

tr:last-child td:first-child {
    border-radius: 0px 0px 0px 4px;
}

tr:last-child td:last-child {
    border-radius: 0px 0px 4px 0px;
}

.page-text-region {
    margin-top: 110px;
}

.page-descr-top {
    margin-top: 30px;
}

.page-descr-bottom {
    margin-top: 0;
}

.delivery-list {
    margin: 40px 0;
    max-width: 647px;
}

.delivery-list-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 30.47px;
}

.delivery-list-items {
    margin-top: 20px;
}

.delivery-list-item {
    position: relative;
    list-style-type: none;
    margin-top: 15px;
    font-weight: 400;
    font-size: 26px;
    line-height: 30.47px;
    margin-left: 18px;
}

.delivery-list-item:first-child {
    margin-top: 0;
}

.delivery-list-item::before {
    content: '';
    position: absolute;
    top: 12px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
    left: -18px;
}

/* Articles */
.articles {
    padding-bottom: 110px;
}

.articles-blocks {
    margin-top: 40px;
    width: 840px;
    height: 760px;
}

.article-block {
    width: 100%;
    height: 100px;
    border-radius: 4px;
    background: #F4F4F4;
    margin-top: 10px;
    padding: 0 6px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .4s ease;
}

.article-block-text {
    font-weight: 400;
    font-size: 26px;
    line-height: 30.47px;
    max-width: 753px;
}

.article-block-arrow {
    opacity: 0;
}

.article-block:first-child {
    margin-top: 0;
}

.article-block:hover {
    background: #E42D24;
    color: #fff;
}

.article-block:hover .article-block-arrow {
    opacity: 1;
    cursor: pointer;
}

.articles-button-next,
.articles-button-prev {
    cursor: pointer;
}

.articles-button-next svg path,
.articles-button-prev svg path {
    transition: .3s ease;
}

.articles-button-next:hover svg path,
.articles-button-prev:hover svg path {
    stroke: rgba(228, 45, 36, 1);
}

.articles-control-block {
    height: 40px;
    width: 322px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.articles-pagination {
    display: flex;
    gap: 10px;
}

.articles-pagination-item {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    background: #F4F4F4;
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
    cursor: pointer;
}

.articles-pagination-item_active {
    background: #E42D24;
    color: #fff;
}

.articles-pagination-points {
    width: 40px;
    height: 4px;
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
}

.articles-pagination-point {
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 50%;
}










